<header class="header__main">
  <h1>SEO Report</h1>
  <span>customerdomain.com</span>
</header>
<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item "><%= link_to 'Overview', root_path, class: "nav-link #{active_class(root_path)}" %>
      </li>
      <li class="nav-item"><%= link_to 'Keyword Rankings', keyword_rankings_path, class: "nav-link #{active_class(keyword_rankings_path)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Easy Wins', easy_wins_path, class: "nav-link #{active_class(easy_wins_path)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Anchor Text Profile', anchor_text_profile_path, class: "nav-link #{active_class(anchor_text_profile_path)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Keyword Research', keyword_research_path, class: "nav-link #{active_class(keyword_research_path)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Competitive Gap Analysis', competitive_gap_analysis_path, class: "nav-link #{active_class(competitive_gap_analysis_path)}" %>
      </li>
    </ul>
  </div>
</nav>